Error: unknown flag: --format
Usage:
  golangci-lint config [flags]
  golangci-lint config [command]

Available Commands:
  path        Print used configuration path.
  verify      Verify configuration against JSON schema.

Flags:
  -c, --config PATH   Read config from file path PATH
      --no-config     Don't read config file

Global Flags:
      --color string   Use color when printing; can be 'always', 'auto', or 'never' (default "auto")
  -h, --help           Help for a command
  -v, --verbose        Verbose output

Use "golangci-lint config [command] --help" for more information about a command.

The command is terminated due to an error: unknown flag: --format
